@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css";

.NotifierApp { 
    .Notification {
        margin: 5px;
    }

    .NotificationDetails {
        margin-left: 10px;
    }

    .AddNotificationButton {
        text-align: center;
        button {
            .btn-lg;
        }
    }
}
